@font-face {
    font-family: title;
    src: url(../fonts/ProzaLibre-Regular.ttf);
  }
  
  @font-face {
    font-family: body;
    src: url(../fonts/OpenSans-Regular.ttf);
  }

.popup_cookies{
    animation-name: mymove;
    animation-duration: 3s;
    box-sizing: border-box;
    position: fixed;
    bottom: 60px;
    right: 30px;
    background: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
    border-radius: 45px;
    text-align: center;
    padding: 25px 25px 30px 25px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 @keyframes mymove{
     from {bottom: -300px;}
     to{bottom: 60px;}

 }
.hide{
    display: none;
    transition: all 0.1s ease;
}
.popup_cookies img{
  max-width: 90px;
}

.popup_cookies .cookies_content{
    margin-top: 10px;
}

.cookies_content h1{
    font-family: title, Times, serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.cookies_content p{
    color: #858585;
    margin: 5px 0 20 px 0;
}


.buttons .learn_more{
    margin: 0 10px;
}
/*cookies buttons*/
.cookies_content .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cookies_buttons button{
    padding: 10px 20px;
    margin-right: 20px;
    background: #7fe3fc;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.cookies_buttons a{
    color: #7ffce1;
}
