body {
    overscroll-behavior-y: none;
  }
  
  .slider-wrap {
    position: relative;
    top: 20%;
    width: 80%;
    height: 300px;
    overflow: hidden;
    border: 8px solid white;
    border-radius: 30px;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4000px;
    display: flex;
    will-change: transform;
    background-color: #80cbc4;
  }
  
  .slider-item {
    position: relative;
    flex: 1;
    overflow: hidden;
  }
  
  .img-div {
    position: relative;
    left: 1%;
    top: 2.5%;
    width: 98%;
    height: 95%;
    background-size: cover;
    background-position: center;
  }

  .slider-wrap1, .slider-wrap2nd ,.slider-wrap3rd {
    position: relative;
    top: 20%;
    width: 80%;
    height: 300px;
    overflow: hidden;
    border: 8px solid white;
    border-radius: 30px;
  }
  
  .slider1, .slider2nd , .slider3rd {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4000px;
    display: flex;
    will-change: transform;
    background-color: #80cbc4;
  }
  
  .slider-item1, .slider-item2nd, .slider-item3rd {
    position: relative;
    flex: 1;
    overflow: hidden;
  }
  
  .img-div1, .img-div2nd, .img-div3rd {
    position: relative;
    left: 1%;
    top: 2.5%;
    width: 98%;
    height: 95%;
    background-size: cover;
    background-position: center;
  }
  

@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;1,400&display=swap');

:root {
    --bar-height: 73px;
    --basic-color: #80cbc4;
    --hover-color:#4f9a94;
}
.header{
    background: radial-gradient(white,rgb(240, 240, 240));
    margin: 0px;
    
}
.header .container{
    margin-left: 10%;
    margin-right: 10%;

}
.header .container h1{
    color:#80cbc4 ;
}

body {
    margin: 0;
    font-family: 'Proza Libre', sans-serif;
    background-color: #e0f2f1;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    flex-basis: 50%;
    min-width: 300px;
}
.col img{
    max-width: 100%;
    padding: 50px 0;
    float: right;
}

.col h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0px;
}

/* Body */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    font-family: 'Proza Libre', sans-serif;
}

.container img {
    width: 90%
}
.tag{
    padding-bottom: 0px;
    color: #4f9a94;
    font-weight: bold;  
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.card{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 14px;
    padding: 20px;
    margin: 60px;
    height: 680px;
    width: 250px;
    border-radius: 15px;
    background-color: #82ada9;
    border-top: 0.5px solid rgba(255,255,255,0.5);
    border-left: 0.5px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}

.name{
    font-weight: bold;
    font-size: 2rem;
    margin-right: auto;
}

.price{
    font-size: 2rem;
    color: #f8f8ff;
    margin: 85px;
}

.content{
    font-size: 22px;
    color: white;
    height: 62px;
}

.card .button{
    border-radius: 7px;
    height: 40px;
    width: 250px;
    border: none;
    outline: 0;
    box-shadow: 2px 4px 2px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Proza Libre', sans-serif;
    background: var(--basic-color);
}

.card .button:hover {
    background-color: #004c40;;
}

a{
    text-decoration: none;
    color: white;
}

