@font-face {
    font-family: title;
    src: url(../fonts/ProzaLibre-Regular.ttf);
    }
@font-face {
    font-family: body;
    src: url(../fonts/OpenSans-Regular.ttf);
}
:root {
    /* Colors */
    --signIn-span:#606e83;

    /* Font Size */
    --h1-font-size:2.5rem;
    --h2-font-size:1.875rem;
    --h3-font-size:0.875rem;
    --p-font-size:0.8rem;
    --span-font-size:0.875rem;
    --input-font-size: 1rem;
    --btn-font-size:0.938rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    list-style: none;
    text-decoration: none;
    font-family: body, Times, serif;
}

#mainSignIn, #mainReg, #mainPW{
    height: auto;
    padding: 5% 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: title, Times, serif;
    font-size:var(--h1-font-size);
}

h2 {
    text-align: left;
    font-family: title, Times, serif;
    font-size:var(--h2-font-size);
}

::-webkit-input-placeholder {
    font-size:0.8rem;
}

:-ms-input-placeholder {
    font-size:0.8rem;
}

::placeholder {
    font-size:0.8rem;
}

main label, #mainReg h3, #mainReg h2, #mainReg p{
    width: 100%;
    margin: 20px auto;
    text-align:left;
    display:block;
    
}
input, select {
    width: 80%;
    margin-right: 20%;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    font-size:var(--input-font-size);
    text-align: left;
    display: block;
}

input:invalid {
    border-bottom: 2px solid rgb(241, 68, 37);
}

input:valid {
    border-bottom: 2px solid rgb(75, 117, 182);
}

input:focus{
    background-color: rgba(195, 200, 230, 0.548);
}

input[type="submit"], input[type="reset"]{
    height: 40px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:whitesmoke;
    text-align: center;
    font-size:var(--btn-font-size);
    font-weight: 600;
    font-family: title;
    cursor:pointer;
    background: -webkit-linear-gradient(right, #4981af, #5933c2);
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background: -webkit-linear-gradient(left, #4981af, #5933c2);
}

button, input[type="submit"] {
    cursor: pointer;
    position: relative;
}

button {
    color: black;
    background-color: rgb(83, 153, 56);
    text-align: center;
    font-size: var(--btn-font-size);
    z-index: 1;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

button::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    background-color: rgb(53, 97, 36);
    transition: transform 600ms ease-in-out;
    -webkit-transition: transform 600ms ease-in-out;
    -moz-transition: transform 600ms ease-in-out;
    -ms-transition: transform 600ms ease-in-out;
    -o-transition: transform 600ms ease-in-out;
    transform:scaleX(0);
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -ms-transform:scaleX(0);
    -o-transform:scaleX(0);
    transform-origin: left;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
}

button:hover::before,
button:focus::before{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
}

#mainSignIn label span, #mainReg h3 {
    font-size:var(--span-font-size);
    font-weight:600;
    color:var(--signIn-span);
}

/*Sign in*/

#signCont {
    width: 80vw;
    height: 500px;
    margin: 0 10vw;
    background-color: snow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
}

#signInCont{
    padding: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signInCont input[type="submit"] {
    margin-top: 8%;
}

#signInCont p{
    margin: 5% 0;
}

#signInCont p a {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: var(--btn-font-size);
    font-weight: 600;
    color:black;
    cursor:pointer;
}

#signInCont p a:hover {
    color:rgb(53, 15, 190);
}

#signUpCont{
    width: 40%;
    height: 100%;
    background-image: url(../New_products/signinBanner.jpg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#signUpCont button {
    width: 40%;
    margin: 10% auto;
    margin-bottom: 30%;
    padding: 2% 0;
}

#signUpCont button a{
    color: aliceblue;
    font-weight: 600;
}

/*iPad Screen*/
@media only screen and (max-width:1023px){
    #mainSignIn {
        width: 90vw;
        margin: 10vh 5vw;
    }
}

/*iPhone 6 Screen*/
@media only screen and (max-width:767px){
    #signUpCont button,
    #rSignInCont button {
        text-align: center;
        padding:  auto;
        font-size: 1rem;
        z-index: 0;
    }

    #signUpCont button {
        margin-top: 30%;
        margin-bottom: 10%;
    }

    #signUpCont button a,
    #rSignInCont button a {
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }

    /* Sign In*/
    #mainSignIn{
        height: 100vh;
        padding: 5%;
    }
    #mainSignIn h2 {
        font-size: 1.5rem;
    }

    #signCont {
        flex-direction: column;
        width: 80vw;
        margin: 0;
    }

    #signInCont {
        margin: 0 auto;
        width: 80vw;
    }

    #signInCont input,
    #signInCont h2 {
        width: 100%;
        margin:auto;
    }
    #signInCont input{
        margin-bottom: 5%;
    }

    #signInCont p {
        width: 100%;
        margin: 5% auto;
    }

    #signUpCont {
        width: 80vw;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /* Register */
    #mainReg h1 {
        font-size: 1.2rem;
    }

    #mainReg h2, #mainReg optgroup, #mainReg select{
        font-size: 0.8rem;
    }

    #mainReg h3, #mainReg p, #mainReg span, #mainReg input {
        font-size: 0.6rem;
    }

    #mainReg #submitBtnCont input {
        margin-right: 0;
    }

    #typeCont .radioType {
        width: 100px;
        height: 140px;
    }

    #typeCont .radioType span {
        font-weight: 600;
    }

    #rSignInCont button{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #rSignInCont p{
        font-size: 0.6rem;
    }
    #rSignInCont button a{
        font-size: 0.4rem;
    }

    #submitBtnCont input {
        height: 80%;
        padding: 3%;
        font-size: 0.5rem;
    } 
}

