* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover, a:focus, a:visited {
    color: whitesmoke;
}

textarea{
    min-height: 200px;
    padding: 3%;
}

/*Button Css*/

button, input[type="submit"]{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:whitesmoke;
    text-align: center;
    font-size:var(--btn-font-size);
    font-weight: 600;
    font-family: title;
    cursor:pointer;
    background: -webkit-linear-gradient(right, #4981af, #5933c2);
}

button:hover, input[type="submit"]:hover{
    background: -webkit-linear-gradient(left, #4981af, #5933c2);
}

button, input[type="submit"] {
    cursor: pointer;
    position: relative;
}

/*Dashboard Css*/

.dashCont{
    width: 80%;
    margin: 5% 10%;
    padding: 3%;
    background-color: whitesmoke;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dashBtnCont {
    margin: 10% 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btnDiv > * {
    margin-bottom: 5%;
    width: 70%;
    margin: 0 15%;
}

.dashBtn, #dashSubmit {
    width: 70%;
    height: 60px;
    margin: 0 15%;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.5rem;
}

#dashSubmit{
    margin-top: 8%;
}

.btnDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#editMain,
#uploadMain {
    margin: 5%;
}

#editMain form,
#uploadMain form {
    background-color: whitesmoke;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dashMain h1,
#editMain h1,
#uploadMain h1 {
    margin: 5%;
    margin-bottom: 10%;
    text-align: center;
}

#editMain h2 ,
#uploadMain h2 {
    margin: 5%;
    margin-left: 0%;
}

#editMain input[type="submit"],
#uploadMain input[type="submit"] {
    margin-top:5%;
}

#uploadMain p {
    margin: 5% 0;
    padding: 3%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color:rgba(71, 4, 255, 0.336);
}


@media only screen and (max-width:767px) {

    .dashBtn, #dashSubmit {
        height: 100%;
        font-weight: 600;
        font-size: 1.2rem;
    }

    #dashMain h1,
    #editMain h1,
    #uploadMain h1 {
        font-size:1.5rem;
    }

    #uploadMain p {
        font-size: 1rem;
        margin-top: 10%;
    }
}
