@font-face {
    font-family: title;
    src: url(../fonts/ProzaLibre-Regular.ttf);
  }
@font-face {
    font-family: body;
    src: url(../fonts/OpenSans-Regular.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
body{
    font-family: title, body;
}
.hightlight{
    font-weight: bold;
}
.header{
    background-color: white;
}
.homeimg{
    animation: float 6s ease-in-out infinite;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px 200px;
    background-color: #F9495F;
}

#logo{
    margin-left: 100px;
    color: white;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}


nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}
nav ul li:hover{
    font-weight: bold;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    flex-basis: 50%;
    min-width: 300px;
}
.col img{
    max-width: 100%;
    padding: 50px 0;
    float: right;
}

.col h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0px;
}

.button{
    display: inline-block;
    background: black;
    color: white;
    padding: 10px;
    margin: 30px 0px;
    text-align: center;
    width: 180px;
    border-radius: 20px;
    transition: color 0.2s;
    transition: background 0.2s;

}

.button:hover{
    background: white;
    color: black;
}

.container-product{
    max-width: 1080px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}

.feature{
    padding-top: 30px;

}
.col-product-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.col-product-3 img{
    width: 100%;
    filter:grayscale(100%);
    transition: 0.5s;
    padding: 10px;
}
.col-product-3:hover,
.col-product-3 img:hover,
.col-product-4:hover ,
.col-product-4 img:hover{
    filter:none;
    transform: scale(1.05);
}


h2{
    text-align: center;
}
.rating{
    color: tomato;
}
.newArrival{
    padding-top: 30px;
    background: black;
    color: white;
}
.col-product-4{
    flex-basis: 25%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col-product-4 img{
    width: 100%;
    filter:grayscale(100%);
    transition: 0.5s;
}

/*-----Product Page----->*/

.product .col-product-4{
    background: black;
}
.rowProduct{
    justify-content: space-between;
    margin: 100px auto 50px
}
select{
    border: 2px solid white ;
    background: black;
    color: white;
    padding: 10px;
}
.page-btn{
    margin: 0 auto 50px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background-color: black;
    color: white;
}
.container-product img{
    width: 200px;
}
/*-----Product detail----->*/
.container-product-detail{
    max-width: 1080px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}

.container-product-detail img{
    padding-top: 1rem;
}

.container-product-detail h1{
    font-size: 50px;
    line-height: 30px;
}

.button1{
    display: inline-block;
    background: white;
    color: black;
    padding: 10px;
    margin: 30px 0px;
    text-align: center;
    width: 180px;
    border-radius: 20px;
    transition: color 0.2s;
    transition: background 0.2s;

}

.button1:hover{
    background: black;
    color: white;
}

.container-product-detail select{
    border: 2px solid white ;
    background: black;
    color: white;
    padding: 8px;
}


/*-----cart----->*/
.container-cart{
    max-width: 1080px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.container-cart img{
    width: 200px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
.info{
    display: flex;
    flex-wrap: wrap;
}
th{
    padding-left: 0.5rem;
    text-align: left;
    padding-top: 5px;
    color: white;
    background-color: black;
}
td{
    padding: 10px 5px;
}
.buttons{
    margin: 0px 2rem;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid black;
    width: 100%;
    max-width: 350px;
}

@keyframes float {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-20px);
	}
	100% {
		transform: translatex(0px);
	}
}
.col-product-3 img{
    width: 300px;
}
.col-product-3 img{
    width: 300px;
}