@font-face {
  font-family: title;
  src: url(../fonts/ProzaLibre-Regular.ttf);
}
@font-face {
  font-family: body;
  src: url(../fonts/OpenSans-Regular.ttf);
}

:root{
  /* Colors */

  /* Font Size */
  --font-large: 2rem;
  --font-medium-plus: 1.7rem;
  --font-medium: 1.2rem;
  --font-small: 1rem;
  --font-micro: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Copyright, Tos, Privacy Policy*/

main {
  width: 90vw;
  padding: 10% 5vw;
}

h1,
h2 {
  font-family: title, Times, serif;
  margin: 10% 0 3% 0;
}

p, ul, ul li, a{
  font-family: body, Times, serif;
  font-size: var(--font-small);
}

a {
  color: black;
  text-decoration: none;
  padding: 0 2px;
}

h1 {
  font-size: var(--font-large);
  text-align: center;
}
h2 {
  font-size: var(--font-medium-plus);
}

p {
  margin-bottom: 3%;
  margin-left: 1rem;
}

ul {
  margin-left: 10%;
}

ul li {
  margin-bottom: 1%;
}
#cart-icon{
  color: white;
}
.footerContent a:link, .footerContent a:visited {
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-decoration-style: solid;
  -moz-text-decoration-style: solid;
  text-decoration-color: #89abc6;
  -moz-text-decoration-color: #89abc6;
  text-decoration-thickness: 2px;
}

a:hover{
  background-color: #9499b7b7;
}

@media only screen and (max-width:1023px){
  h1{
    font-size: var(--font-medium-plus);
  }

  h2{
    font-size: var(--font-medium);
  }
}

@media only screen and (max-width:767px){
  h1{
    font-size: var(--font-medium);
  }

  h2{
    font-size: var(--font-small);
  }
  p, ul, ul li, a{
    font-size: var(--font-micro);
  }
}
